<template>
  <div class="vacancies">
    <card
      v-for="item in vacancies"
      :key="item.id"
      :vacancy="item"
      icon="github"
    />
  </div>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'VacanciesPage',
  components: {
    Card,
  },

  async fetch({ store }) {
    if (store.getters['vacancies/vacancies'].length === 0) {
      await store.dispatch('vacancies/getVacancies')
    }
  },

  computed: {
    vacancies() {
      return this.$store.getters['vacancies/vacancies']
    },
  },

  methods: {
    show() {
      console.log(this.vacancies)
    },
  },
}
</script>

<style lang="scss" scoped>
.vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
</style>

