<template>
  <client-only>
    <div class="statistics">
      <Apexchart
        type="pie"
        width="380"
        :options="chartOptions"
        :series="[fullTimeVacancies, partTimeVacancies, otherTypeVacancies]"
      ></Apexchart>
    </div>
  </client-only>
</template>

<script>
export default {
  name: 'StatisticsPage',

  async fetch({ store }) {
    if (store.getters['vacancies/vacancies'].length === 0) {
      await store.dispatch('vacancies/getVacancies')
    }
  },

  data: () => ({
    chartOptions: {
      chart: {
        width: 380,
        type: 'pie',
      },
      labels: ['Full time', 'Part time', 'Other'],
      responsive: [
        {
          breakpoint: 480,
          options: {
            chart: {
              width: 200,
            },
            legend: {
              position: 'bottom',
            },
          },
        },
      ],
    },
  }),
  computed: {
    vacanciesByType() {
      return this.$store.getters['vacancies/vacanciesByType']
    },
    partTimeVacancies() {
      return this.vacanciesByType.partTimeVacancies.length
    },
    fullTimeVacancies() {
      return this.vacanciesByType.fullTimeVacancies.length
    },
    otherTypeVacancies() {
      return this.vacanciesByType.otherTypeVacancies.length
    },
  },
}
</script>


<style lang="scss" scoped>
.statistics {
  display: flex;
  justify-content: center;
  width: 100%;
}
</style>
