<template>
  <div class="card">
    <header class="card-header">
      <img
        v-if="vacancy.company_logo"
        :src="vacancy.company_logo"
        class="card-logo"
      />
      <div v-else class="card-logo-placeholder">
        <span>
          {{ vacancy.company[0].toUpperCase() }}
        </span>
      </div>
      <p class="card-header-title has-text-grey">
        {{ vacancy.title }}
      </p>
    </header>
    <div class="card-content">
      <span class="has-text-grey">Location: {{ vacancy.location }}</span>
    </div>
    <footer class="card-footer">
      <button @click="toggleShowModal(true)">Find out more</button>
    </footer>
    <modal
      :showModal="showModal"
      :vacancy="vacancy"
      @toggleShowModal="toggleShowModal"
    />
  </div>
</template>

<script>
import Modal from '~/components/Modal'
export default {
  name: 'Card',
  components: { Modal },
  props: {
    vacancy: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    showModal: false,
  }),
  methods: {
    toggleShowModal(value) {
      this.showModal = value
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  width: 60%;
  margin-bottom: 20px;
  position: initial;
  &-header {
    display: flex;
    align-items: center;
    padding: 0px 15px;
  }
  &-logo {
    width: 60px;
    height: 30px;
  }
  &-logo-placeholder {
    width: 60px;
    height: 30px;
    background: #7957d5;
    display: flex;
    justify-content: center;
    align-items: center;
    & span {
      color: white;
    }
  }
  &-footer {
    padding: 15px;
    & button {
      background: #7957d5;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
</style>
