<template>
  <b-loading is-full-page v-model="loading" can-cancel></b-loading>
</template>

<script>
export default {
  name: 'Loader',
  data: () => ({
    loading: false,
  }),
  methods: {
    start() {
      this.loading = true
    },
    finish() {
      this.loading = false
    },
  },
}
</script>
