<template>
  <b-modal
    active
    v-if="showModal"
    @close="closeModal"
    :width="640"
    scroll="keep"
  >
    <div class="card">
      <header class="card-header">
        <p class="card-header-title has-text-grey">
          {{ vacancy.company }}
        </p>
      </header>
      <div class="card-content">
        <p class="has-text-grey" v-html="vacancy.description"></p>
      </div>
      <footer class="card-footer">
        <a :href="vacancy.url">Company url</a>
      </footer>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    vacancy: {
      type: Object,
      required: true,
    },
  },
  methods: {
    closeModal() {
      this.$emit('toggleShowModal', false)
    },
  },
}
</script>

<style lang="scss" scoped>
.card-footer {
  padding: 15px;
}
</style>
