<template>
  <div class="sidebar">
    <section class="sidebar__layout">
      <b-sidebar
        fullheight
        position="static"
        :mobile="mobile"
        expand-on-hover
        reduce
        type="is-light"
        open
      >
        <div class="p-1">
          <b-menu class="is-custom-mobile">
            <b-menu-list label="Menu">
              <b-menu-item
                label="Vacancies"
                tag="nuxt-link"
                :to="{ name: 'vacancies' }"
                active-class="active"
                class="sidebar__list-item"
              ></b-menu-item>
              <b-menu-item
                label="Statistics"
                tag="nuxt-link"
                :to="{ name: 'statistics' }"
                active-class="active"
                class="sidebar__list-item"
              ></b-menu-item>
            </b-menu-list>
          </b-menu>
        </div>
      </b-sidebar>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data: () => ({
    mobile: 'reduce',
  }),
}
</script>

<style lang="scss">
.p-1 {
  padding: 1em;
}
.active {
  background: #7957d5;
}
.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__layout {
    display: flex;
    flex-direction: row;
    min-height: 100%;
  }
  &__list-item {
    & a {
      &:hover {
        background: #7957d5;
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini-mobile {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }
              ul {
                padding-left: 0;
                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }
          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .b-sidebar {
    .sidebar-content {
      &.is-mini {
        &:not(.is-mini-expand),
        &.is-mini-expand:not(:hover) {
          .menu-list {
            li {
              a {
                span:nth-child(2) {
                  display: none;
                }
              }
              ul {
                padding-left: 0;
                li {
                  a {
                    display: inline-block;
                  }
                }
              }
            }
          }
          .menu-label:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.is-mini-expand {
  .menu-list a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
