<template>
  <div class="default-layout">
    <div class="default-layout__header"></div>
    <div class="default-layout__main">
      <sidebar />
      <div class="default-layout__main-content">
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '~/components/Sidebar'
export default {
  components: { Sidebar },
}
</script>

<style lang="scss" scoped>
.default-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {
    height: 52px;
    background: #7957d5;
  }
  &__main {
    display: flex;
    flex-grow: 1;
  }
  &__main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}
</style>
